*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 2px solid red; 

}

body{
    min-height: 100dvh;
    width: 7300px;
    background-color: rgb(185, 140, 41);
    background-image: url(../img/fondo-flores.jpg);
    background-size: 25ch;
    background-position: center ;
    background-repeat: repeat;
    padding-left: 4%;
    padding-top: 3%;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: 'PlaywriteFont';
    src: url(./fonts/PlayfairDisplay-VariableFont_wght);
}

#izquierda {
    flex-basis: 50ch;
    z-index: -15;
    flex-shrink: 1;

    position: relative;
}

.titulo {
    position: absolute;
    border-radius: 45px;
    background-image: url(../img/luna-campo.jpg);
    background-size: cover;
    color: rgb(211, 219, 233);
    font-size: 32px;
    font-family: 'Times New Roman';
    padding: 20px;
    padding-top: 50px;
    text-align: center;
    width: 25ch;
    height: 21ch;
    box-shadow: -10px 10px 20px black;
}

.titulo h1 {
    mix-blend-mode: difference;
    font-style: oblique;

}

.leyenda {
    position: absolute;
    padding: 15px;
    padding-top: 15px;
    width: 350px;
    height: 115px;
    text-align: center;
    font-size: 18px;
    top: 910px;
    left: 25px;
    color: aliceblue;
    border-radius: 25px;
    background-color: black;
    background-image: url(../img/luna-campo.jpg);
    background-size: 100vh 100vw;
    background-position: bottom center;    
    box-shadow: -10px 15px 20px black;

}

.leyenda p {
    mix-blend-mode: soft-light;
    font-weight: bold;
}

.dibujo {
    position: absolute;
    top: 370px;
    background-color: blue;
    background-image: url(../img/fondo-flores2.jpg);
    background-size: 30ch;
    background-position: center ;
    background-repeat: repeat;
    border-radius: 150px 200px 300px;
    z-index: -15;
    left: 20px;
}

.dibujo img {
    opacity: 0.9;
    box-shadow: -05px 50px 30px 2px;
    border-radius: 150px 200px 300px;
}

#medio {
    margin-left: 43px;
    width: 37ch;
    overflow: hidden;
    
}

.ganchos {
    background-image: url(../img/fondo-rosas3.jpg);
    background-size: 36ch;
    background-repeat: repeat;
    position: absolute;
    z-index: -10;
    top: 0px;
    filter: contrast(0.5),brightness(70%), saturate(140%);
    box-shadow: 0px 0px 100px 15px;    
}

.ganchos img {
    opacity: 0;
    width: 35ch;
    min-height: 100dvh;
    overflow: hidden;
}


.listado {
    width: 30ch;
    padding: 10px;
    margin-left: 3ch;
    margin-top: 2ch;
    justify-content: center;
    text-align: center;
    color: black;
    z-index: 15;
}

@font-face {
    font-family: 'Playwrite';
    src: url(../fonts/PlaywriteAR-VariableFont_wght.ttf);
}


.escritos {
    font-family: Playwrite;
    margin-bottom: 2ch;
    box-shadow: -2px 5px 5px black;
    background-color: rgba(53, 53, 20, 0.253) ;
    background-repeat: repeat;
    
}

.escritos a {
    color: rgb(243, 243, 243);
    font-weight: bold;
}

#derecha {
    display: flex;
    z-index: -15;
    padding-left: 10.5em;
    gap: 10.5em;

}

#derecha > div {
    position: relative;
}

.titulo-parrafo {
    position: absolute;
    left: 410px;
    top: 200px;
    color: white;
    font-size: 25px;
}

.parrafo {
    position: absolute;
    top: 270px;
    left: 165px;
    color: white;
    max-width: 700px;
    font-size: 18px;
    overflow: hidden;
}

.parrafo p {
    text-align: justify;
    /* border-radius: 0px 30px 30px 30px; */
    overflow: hidden;

}
/* .intro {
    margin-top: 0ch;
    background-color: rgb(18, 45, 56);
    box-shadow: 10px 15px 20px black;
    background-size: 25ch;
    background-repeat: repeat;
    border-radius: 45px;
    color: rgb(175, 175, 175);
    font-family: sans-serif;
    font-size: 13px;
    text-align: center;
    width: 380px;
    height: 148ch;
    padding: 23px;
    padding-top: 80px;
    margin-left:30px ;
    z-index: 15;
} */

