@font-face {src: url(../fonts/PlaywriteAR-VariableFont_wght.ttf);
    font-family: 'Playwrite';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 2px solid red; 

}

body{
    width: 100dvw;
    background-color: rgb(219, 185, 111);
    background-image: url(../img/fondo-flores5.jpg);
    background-size: 18ch;
    background-position-x:right;
    background-repeat: repeat;
    font-family: 'Playwrite';
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* margin: 10% 10% 50% 50%; */
}

.entrada {
    background-image: url(../img/fondo-entrada.jpeg);
    mix-blend-mode: multiply;
    background-size: 880px;
    width: 880px;
    height: 44em;
    flex: 0 0 880px;
    /* margin: 8dvw; */
    /* padding-right: 20dvw; */
    padding: 90px;
    /* display: flex; */
    align-items: center;
    position: relative;
    box-shadow: 1px 1px 10px;
}


.titulo.dos{
    position: absolute;
    top: 10.5em;
    line-height: 2.02em;
    font-size: 36px;
}

h2 {
    color: black;
    text-shadow: 10px 5px 1px  rgba(42, 161, 165, 0.477);
}
.flower.one{
    position: absolute;
    left: 32rem;
    top: 6.3rem;
}

.flower.two{
    position: absolute;
    right: 18rem;
    top: 5rem;
}

.flower {
    /* mix-blend-mode: luminosity; */
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
    body {
        /* min-width: 100%; */
        /* min-height: 10em; */
        height: 150px;
        width: 150px;
    }

    .entrada {
        padding: 0;
        height: 150px;
        width: 150px;
    }

    h2 {
        height: 150px;
        width: 150px;
        position: absolute;
        left: 8rem;
        bottom: 5rem;
    }
            
    div .flower {
        
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .flower img {
        height: 150px;
        width: 150px;
    }
}