@font-face {src: url(../fonts/PlaywriteAR-VariableFont_wght.ttf);
    font-family: 'Playwrite';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 2px solid red;  */

}

body{
    height: 100dvh;
    width: auto;
    background-color: rgb(219, 185, 111);
    background-image: url(../img/fondo-flores5.jpg);
    background-size: 18ch;
    background-position-x:right;
    background-repeat: repeat;
    font-family: 'Playwrite';
    display: flex;
    justify-content: center;
    align-items: center;
}

.entrada {
    background-image: url(../img/fondo-entrada.jpeg);
    mix-blend-mode: multiply;
    background-size: 880px;
    width: 880px;
    height: 690px;
    flex: 0 0 880px;
    margin: 0 8dvw;
    padding: 90px;
    display: flex;
    align-items: end;
    flex-grow: 0;
    position: relative;
    box-shadow: 1px 1px 10px;
}

.titulo.uno {
    font-size: 35px;
    color: rgb(42, 161, 165);
    line-height: 2.5em;
    flex-grow: 0;
    opacity: 0.5;
    /* mix-blend-mode: exclusion; */
}

.titulo.dos{
    position: absolute;
    top: 10.5em;
    line-height: 2.02em;
    color: rgba(0, 0, 0, 0.809);
    font-size: 36px;
}

h1 {
    width: 8em;
}

h2 {
    text-shadow: 10px 5px 1px  rgba(42, 161, 165, 0.477);
}
.flower.one{
    position: absolute;
    left: 32rem;
    top: 6.3rem;
}

.flower.two{
    position: absolute;
    right: 18rem;
    top: 5rem;
}

.flower {
    /* mix-blend-mode: luminosity; */
}
