*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 2px solid red; 

}

body{
    /* height: 1023px;
    width: 735px; */
    min-height: 100vh;
    max-width: 1375px;
    background-color: rgb(189, 144, 47);
    background-image: url(./img/fondo-cover4.jpeg);
    background-size: cover;
    padding: 25px;
}

div#container{
    display: flex;
}

#titulo-central{
    color: red;
}

